# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# SQLite database
db.sqlite3

# Django
*.log
media/

# Collected static files
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/